* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 248, 252);
}

header {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    height: 75px;
    line-height: 70px;
}

header > img {
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 1px;
}

header > span {
    vertical-align: middle;
}

.big_white {
    width: 70%;
    height: 800px;
    background-color: white;
    margin: 40px auto;
    border-radius: 10px;
}

.big_white > div {
    margin-left: 50px;
    padding-top: 15px;
}

button {
    padding: 5px 7px;
    border-radius: 4px;
}

.task {
    color: white;
    background-color: rgb(127, 187, 255);
    border-color:  rgb(127, 187, 255);
    border: none;
}

.section {
    color: lightgray;
    background-color: white;    
    border: 1px solid #e7e7e7;
}

div > hr {
    background-color: rgb(243, 248, 252);
    height: 2px;
    border-width: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}