* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 248, 252);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    font-weight: 900;
    font-size: 35px;
    height: 75px;
    line-height: 70px;
}

header > img {
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 1px;
}

header > span {
    vertical-align: middle;
}

.big_white {
    width: 70%;
    height: 800px;
    background-color: white;
    margin: 40px auto;
    border-radius: 10px;
}

.big_white > div {
    margin-left: 50px;
    padding-top: 15px;
}

button {
    padding: 7px 14px;
    border-radius: 4px;
}

.task {
    color: white;
    background-color: rgb(127, 187, 255);
    border-color:  rgb(127, 187, 255);
    border: none;
}

.section {
    color: lightgray;
    background-color: white;    
    border: 1px solid #e7e7e7;
}

div > hr {
    background-color: rgb(243, 248, 252);
    height: 2px;
    border-width: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
}

.main_list > li {
    font-weight: 900;
    margin-bottom: 30px;
}

li {
    margin-bottom: 17px;
    font-weight: 300;
    list-style-type: none;
}

ul {
    margin-top: 11px;
    list-style-type: none;
}

.editorial {
    background-color: rgb(127, 187, 255);
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 11px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.goals {
    background-color: rgb(180, 85, 243);
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 11px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.recruiting {
    background-color: #5da75d;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 11px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.mobile {
    background-color: rgb(250, 168, 61);
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 11px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.website {
    background-color: rgb(250, 97, 250);
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 11px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.sales {
    background-color: rgb(107, 252, 88);
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 11px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.check {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid green;
    color: green;
    margin-right: 10px;
}

.cross {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid red;
    color: red;
    margin-right: 10px;
}